{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <center>
      <img src="http://imgur.com/qo2F61Z.jpg" class="img-responsive"></img><br>
    </center>
  </div>
</div>
<div class="container">
  <center>
  <p>Welcome to your own personal Linear Algebra Helper! Perform matrix calculations with ease!</p>
  <a href="https://play.google.com/store/apps/details?id=com.jeffreychan.enterthematrix">Available on the Google Play Store!</a>
  <br><br>
  <a href="/privacy">View our privacy policy here</a>
  </center>
</div>
{% endblock %}
